<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Makemytrip search flights" parallel="false"> <!-- collection of testcases -->
  <test name="login"> <!-- grouping of test steps -->
    <classes>
      <class name="testngtraining.login"/><!-- test step -->
      <class name="testngtraining.enterurl"/>
   
    </classes>
  </test> <!-- Test -->
  <test name="registration">
  
  </test>
</suite> <!-- Suite -->
